body {
  background-color: #f2f2f2;
}

hr {
  border-top: 3px dashed red;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */

/* For mobile phones: */
@media only screen and (max-width: 576px) {
  .navbar {
    background-color: black !important;
  }
  .rg-type
  {
    text-align: center;
    font-size: 1.5rem;
  }
}

.navbar-toggler {
  background: white;
}

.temp {
  min-height: 100vh;
}

.nav-link{
  color: #FF9933;
}

.navbar-custom {
  color: #ffffff;
  /* background-color: black; */
}
.navbar > h3 {
  color: white;
}

.navbar img {
  margin-top: 5px;
}

/*li .active,
.active {
  background-color: white;
  color: black;
}*/

nav li {
  border-radius: 10%;
  text-align: center;
}
/* Navbar ends */

/* Home starts */
#home {
  max-width: 100%;
  min-height: 100vh;
  color: white;
  margin-top: 30px;
  font-size: 40px;
}

#rg{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: #1496BB;
  border-radius: 1mm;
  color: white;
  margin-top: -1cm;
}

.home_title {
  max-width: 100%;
  padding-top: 10%;
  font-size: 70px;
  color: white;
}
.home_topic {
  max-width: 100%;
  font-size: 60px;
  color: white;
}
.small_span {
  max-width: 100%;
  font-size: 20px;
}
/* Home ends */

/* About starts */
#about {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
 /* font-family: "Amaranth", sans-serif; */
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.2in;
  width: 98%;
}
/* About ends */

/* Gallery starts */
#gallery .section-title,
#about .section-title,
#speakers .section-title,
#schedule .section-title,
#sponsors .section-title,
.contact-title{
  color: Turquoise;
}

#gallery{
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.1in;
  width: 75%;
  margin-left: 12.5%;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Gallery ends */

/* Speakers Start */
#speakers{
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.1in;
  padding-top: 30px;
  padding-bottom: 30px;
}


#speakers .card {
  margin: 15px;
}

/* Speakers End */

h2 {
  color: #0a4870;
  font-weight: 500;
}

.speaker-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 15px;
  padding: 0;
}


ul .booking-card {
  position: relative;
  width: 18rem;
  display: flex;
  flex: 0 0 18rem;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
}

ul .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
ul .booking-card .book-container {
  height: 200px;
}
ul .booking-card:hover .book-container {
  height: 140px;
}
ul .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
ul .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
ul .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}
ul .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
ul .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
ul .booking-card .informations-container .sub-title {
  margin-bottom: -90px;
}
ul .booking-card:hover .informations-container .sub-title {
  margin-bottom: -30px;
}
ul .booking-card .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  margin-top: 10px;
  background: #0a4870;
}
ul .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}

ul .booking-card .informations-container .more-information .disclaimer {
  margin-top: 35px;
  font-size: 0.8em;
  color: #7d7d7d;
  margin-bottom: -10px;
}
ul .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
ul .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
ul .booking-card:hover .informations-container {
  transform: translateY(0px);
}
ul .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

.credits {
  display: table;
  background: #0a4870;
  color: white;
  line-height: 25px;
  margin: 10px auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.credits a {
  color: #e3ebf1;
}

h1 {
  margin: 10px 20px;
}
/* Speakers end */

/* schedule start */
#schedule {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.2in;
}

#schedule .tab-content h5 {
  margin-top: 2%;
}
.tab-pane {
  margin-left: 1em;
}

.schedule-tabs li {
  margin: 10px;
}
/* schedule end */

/* register start */
#register {
  background-image: url(../img/reg.png);
  background-size: cover;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.2in;
  width: 95%;
  margin-left: 2.5%;
}


.registration-card {
  border: 1px solid black;
  border-radius: 1%;
  padding: 30px;
  background-color: white;
  margin: 25px;
  margin-bottom: 40px;
}

.registration-card hr {
  border-top: 2px dashed #24b8ff;
}

.registeration-title {
  color: #24b8ff;
}
/* Register end */

/* Sponsors */
#sponsors{
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
 /* font-family: "Amaranth", sans-serif; */
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.2in;
}
.spon-grid {
  padding: 0px;
  list-style: none;
  display: block;
  width: 90%;
  background-color: #fff;
}

.spon-grid li {
  display: inline-block;
  margin: 20px 20px;
  z-index: 10;
  color: #000;
  font-size: 15px;
  font-weight: 550;
}

.spon-grid li img {
  height: 100px;
  max-width: 100%;
}
/* Sponcers End */

/* Contact */

#contact .section-title{
  color: #062754;
}
#contact {
  padding: 30px;
  margin-bottom: 50px;
  background-color :white;
  border-style: groove;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 0.2in;
}
/* end of contact */
